@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 225, 225, 225;
  --background-rgb: 0, 0, 0;
  --foreground-impact: #a2facf;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(var(--background-rgb));
  background-image: url(./assets/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-raleway);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-impact {
  color: var(--foreground-impact);
}
